# Dependencies
node_modules/

# Build output
.next/
dist/
out/

# Environment variables
.env
.env.test
.env.local
.env.development
.env.production
firebase-admin-key.json

# Logs and coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
*.tmp

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Personal files
to-do.txt
public/Rafał 18_09_2025 worksheet.pdf
